// About section
#about.about
  .container
    h3.text-center Acerca De Mi
    .col-md-5.about_left
      ul.address
        li
          ul.agileits-address-text
            li
              b Nombre:
            li Pedro Luis
        li
          ul.agileits-address-text
            li
              b D.O.B:
            li 26-09-1992
        li
          ul.agileits-address-text
            li
              b Celular:
            li (+57) 315-4383-764
        li
          ul.agileits-address-text
            li
              b Trabajo:
            li Dise単o & Desarrollo Web
        li
          ul.agileits-address-text
            li
              b Experiencia:
            li +2 A単os
        li
          ul.agileits-address-text
            li
              b Direccion: 
            li El Cerrito - Valle del Cauca
        li
          ul.agileits-address-text
            li
              b E-MAIL 
            li
              a(href='')  plaullon@misena.edu.co
        li
         
      .w3-socials.about-social
        ul
          li
            a(href='#')
              span.fa.fa-facebook
          li
            a(href='#')
              span.fa.fa-vk
          li
            a(href='#')
              span.fa.fa-pinterest-p
          li
            a(href='#')
              span.fa.fa-twitter
    .col-md-7.about_right
      h3.text-center hola, yo soy pedro luis
      h4.text-center Dise単ador & Desarrollador Web: +2 A単os De Experiencia Codificando
      p
        | Soy persona altamente responsable, con gran gusto por el desarrollo web y apasionado
        | a las tecnologias, eficiente en el trabajo colectivo o grupal y con grandes metas. 
        | Me gusta alcanzar y proponerme nuevas metas, trazadas por la empresa y personalmente, 
        | cada dia me gusta innovar y aprender cosas nueva que me puedan ayudar a crecer como desarrollador.
      p
        | Tecnologo graduado del sena con conocimientos en desarrollo web, utilzando tecnologias de desarrollo
        | como AngularJS, HTML5, CSS, Java, MYSQL. Tambien poseo conocimientos en NodeJS, Aionic y PHP.
      ul
        li
          a.w3ls_more.scroll(href='#contact') Escribeme
        li
          a.w3l.scroll(href='#contact') Conctatame
    .clearfix
// //About section
