.stats h3.text-center,.w3-services h3.text-center,.comment-w3l h3.text-center
    color #fff

.stats
    background url(https://images.pexels.com/photos/276452/pexels-photo-276452.jpeg?auto=compress&cs=tinysrgb&h=650&w=940) no-repeat 0px 0px
    background-size cover
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    -ms-background-size cover
    background-attachment fixed
    padding 5em 0

.w3_agile_head p:before,.w3_agile_head p:after,.w3_agile_head p span:before,.w3_agile_head p span:after
    background #fff

.w3_agile_head
    h5
        span
            color #fff

.w3layouts_skills_grids
    margin 3em 0 0

.w3ls_about_guage
    text-align center
    h4
        font-size 1.3em
        color #fff
        margin-top 30px
        letter-spacing 1px
        font-weight 200