// stats
#stats.stats
  .container
    h3.text-center Stats
    .w3layouts_skills_grids
      .col-md-3.w3ls_about_guage
        canvas#gauge1(width='200', height='100')
        h4 Proyectos Realizados
      .col-md-3.w3ls_about_guage
        canvas#gauge2(width='200', height='100')
        h4 Mobile Apps
      .col-md-3.w3ls_about_guage
        canvas#gauge3(width='200', height='100')
        h4 Clientes Satisfechos
      .col-md-3.w3ls_about_guage
        canvas#gauge4(width='200', height='100')
        h4 Ventas
      .clearfix  
// //stats
