<!--skills -->
#skills.skills-agileinfo
  .container
    h3.text-center Mis Habilidades 
    .modal-spa
      .skills
        .col-md-6.bar-grids.bargrids-left
          h4  Habilidades Tecnicas
          p
            | Como analista y desarrollador web poseeo algunos conocimientos en los
            | cuales me destaco y soy mejor cada dia.
          h6
            | Diseño Web  
            span  100% 
          .progress
            .progress-bar.progress-bar-striped.active(style='width: 100%')
          h6
            | Desarrollo Web
            span  90% 
          .progress.w3-agile
            .progress-bar.progress-bar-striped.active(style='width: 90%')
          h6
            | AngularJS
            span 90% 
          .progress.w3-agile
            .progress-bar.progress-bar-striped.active(style='width: 90%')
          h6
            | JavaScript 
            span  85% 
          .progress.w3-agile.prgs-w3agile-last
            .progress-bar.progress-bar-striped.active(style='width: 85%')
        .col-md-6.bar-grids.w3-agile
          h4  My Hobbies 
          .col-md-4.hobbies-grid1.grid1
            span.fa.fa-codepen
            h5 Programar
          .col-md-4.hobbies-grid1.grid2
            span.fa.fa-hourglass
            h5 Investigar
          .col-md-4.hobbies-grid1.grid3
            span.fa.fa-camera
            h5 Arte
          .clearfix
          .col-md-4.hobbies-grid1.grid4
            span.fa.fa-plane
            h5 Viajar
          .col-md-4.hobbies-grid1.grid5
            span.fa.fa-headphones
            h5 Musica
          .col-md-4.hobbies-grid1.grid6
            span.fa.fa-tint
            h5 Innovar
          .clearfix
        .clearfix  
// //skills
