section
    &.comment-w3l
        background #171717
        padding 5em 0
        h5
            font-size 20px
            margin-top .8em
            color #bbb
            font-weight 300
            a
                color #00bce4
        label
            margin 0
            font-size 16px
            font-weight normal
            color #fff
            padding-bottom 10px
        p
            &.comment-w3
                font-size 15px
                font-weight 100
                letter-spacing 1px
                color #fff
                line-height 28px
                padding-top 10px
                padding-bottom 30px
        h4
            font-size 25px
            font-weight normal
            color #fff
            padding-bottom 10px
            text-transform capitalize
        button
            &.btn
                &.btn-primary
                    background-color #fff
                    border 1px solid transparent
                    font-size 17px
                    padding 13px
                    width 100%
                    font-weight normal
                    color #333
                    outline none
                    border-radius 0
                    transition 0.5s all
                    -webkit-transition 0.5s all
                    -moz-transition 0.5s all
                    -ms-transition 0.5s all
                    -o-transition 0.5s all
                    &:hover
                        background-color transparent
                        color #fff
                        border 1px solid #fff

.comment-w3l
    .read
        margin-bottom 50px
        a
            color #999
            font-size 16px
            text-transform capitalize

input#name, input#email, input#name1, textarea#message
    background-color transparent
    border 1px solid #fff
    font-size 15px
    font-weight 200
    color #fff
    border-radius 0px
    letter-spacing 1px
    height 150px

input#name, input#email, input#name1
    height 53px

.help-block
    color red!important

.w3l_footer
    background #000
    padding 3em 0
    position relative
    h2
        a
            letter-spacing 1.5px
            text-transform uppercase
            text-decoration none
            font-size 1.4em
            color #FFF
            text-shadow 3px 3px #000000
            font-weight 700
        i
            display block
            font-size 0.8em

p
    &.agileits_w3ls_copyright
        margin 6em 0 0em 0
        text-align center
        color #fff
        letter-spacing 2px
        font-weight 100
        a
            color #00bce4
            &:hover
                text-decoration underline
.connect-social
    ul
        li
            a
                display inline-block
                width 35px
                height 35px
                background-size 300px
                color #999
                border 1px solid #999
                line-height 2.4em
                border-radius 50%
                text-align center
                &:hover
                    color #fff
                    border-color #fff
                    -webkit-transform rotatez(360deg)
                    -moz-transform rotatez(360deg)
                    -o-transform rotatez(360deg)
                    -ms-transform rotatez(360deg)
                    transform rotatez(360deg)
    li
        display inline-block

.w3l_footer
    h3
        float left
        font-size 25px
        color #eee
        font-weight 100
    .connect-social
        float right

li
    &.connect
        color #eee
        font-weight 100
        font-size 23px
        
.arrow-container,
.arrow-1
    width 90px
    height 90px

.arrow-container
    margin 0 auto
    position absolute
    left 0
    right 0
    top 13%

.arrow-1
    background #00bce4
    opacity 0.5
    border-radius 50%
    position absolute

.arrow-2
    width 50px
    height 50px
    background #00bce4
    border-radius 50%
    position absolute
    top 20px
    left 20px
    z-index 1
    display table
    &:focus
        text-decoration none
    &:before
        width 42px
        height 42px
        content ""
        border 2px solid rgba(255, 255, 255, 0.5)
        border-radius 50%
        position absolute
        top 4px
        left 4px
    i
        &.fa
            font-size 25px
            display table-cell
            vertical-align middle
            text-align center
            color #fff
.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.4, .4, .4);
        transform: scale3d(.4, .4, .4);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

input[type="button"], input[type="submit"]
    transition 0.5s all
    -webkit-transition 0.5s all
    -moz-transition 0.5s all
    -o-transition 0.5s all
    -ms-transition 0.5s all