.w3-services
    background url(https://images.pexels.com/photos/261662/pexels-photo-261662.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat 0px 0px
    background-size cover
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    -ms-background-size cover
    background-attachment fixed

.w3-services-left-grid
    h3
        color #fff
    h4
        font-size 1.4em
        color #fff
        margin-bottom 1em
        text-transform uppercase
        letter-spacing 2px
    a
        color #fff
        text-transform capitalize
        border 2px solid #fff
        padding 10px 20px
        font-size 14px
        letter-spacing 1px
        &:hover
            background #1cc7d0
            border 2px solid #1cc7d0

.w3-services-left-grid p,.w3-icon-grid1 p
    font-size 14px
    line-height 28px
    letter-spacing 0.5px
    text-transform capitalize
    color #ffff
    padding 0 0em

.w3-icon-grid1
    i
        font-size 2.3em
        color #1cc7d0
        float left
        width 40px

.w3-icon-grid-gap1
    margin 0em 0em 4em 0em

.w3-services-right-grid
    h3
        text-transform uppercase
        color #fff
        font-size 18px
        letter-spacing 1px
        float left
        margin-top 10px
        margin-bottom 15px

.more
    margin 2em 0