// /services
#services.w3-services
  .container
    .w3-services-grids
      h3.text-center Mis Servicios
      .col-md-12.w3-services-right-grid
        .w3-icon-grid-gap1
          .col-md-4.w3-icon-grid1
            i.fa.fa-codepen(aria-hidden='true')
            h3 Diseño Web
            .clearfix
            p
              | Desarrollo De Paginas Web Totalmente Personalizables.
          .col-md-4.w3-icon-grid1
            i.fa.fa-mobile(aria-hidden='true')
            h3 Mobile Apps
            .clearfix
            p
              | Desarrollo de aplicaciones mobiles compatibles con cualquier sistema operativo.
          .col-md-4.w3-icon-grid1
            i.fa.fa-hourglass(aria-hidden='true')
            h3 Animation
            .clearfix
            p
              | Animaciones utilizando Jquery para una interfaz mas agradable.
          .clearfix
        .w3-icon-grid-gap2
          .col-md-4.w3-icon-grid1
            i.fa.fa-modx(aria-hidden='true')
            h3 Photoshop
            .clearfix
            p
              | Conocimientos basicos de photoshop, diseño digital y optimizacion de imagenes
          .col-md-4.w3-icon-grid1
            i.fa.fa-bar-chart(aria-hidden='true')
            h3 Marketing
            .clearfix
            p
              | Conocimiento y manejo en las ultimas tendencias y tecnologias del mercado actual.
          .col-md-4.w3-icon-grid1
            i.fa.fa-shopping-bag(aria-hidden='true')
            h3 Desarrollo 
            .clearfix
            p
              | Desarrollo & programacion orientada a la web, usando las ultimas tendencias en el desarrollo.
          .clearfix
      .clearfix
// //services
