@import "./navbar/styles.styl"
@import "./about/styles.styl"
@import "./service/styles.styl"
@import "./skill/styles.styl"
@import "./stast/styles.styl"
@import "./experience/styles.styl"
@import "./footer/styles.styl"
body
   padding 0
	margin 0
	background #FFF
	font-family 'Montserrat', sans-serif
body
    a
        transition 0.5s all
        -webkit-transition 0.5s all
        -moz-transition 0.5s all
        -o-transition 0.5s all
        -ms-transition 0.5s all
        text-decoration none
        &:hover
            text-decoration none

body a:focus, a:hover
    text-decoration none
h1, h2, h3, h4, h5, h6
    margin 0
    padding 0

img
    width 100%

p
    margin 0
    font-family 'Open Sans', sans-serif

ul
    margin 0
    padding 0

li
    list-style-type none

label
    margin 0

a:focus, a:hover
    text-decoration none
    outline none