.exp_right
    h3
        color #ff6c5f
        font-weight 400
        font-size 30px
        margin-bottom 20px
        text-transform capitalize
    p
        font-size 14.5px
        color #404040
        letter-spacing 0.5px
        line-height 28px

.exp_grid1
    margin-top 40px
    position relative
    span
        &.fa
            position absolute
            left -8.2%
            font-size 20px
            top 0%
            color #ff6c5f
    p
        margin-top 20px
    h4
        color #666
        font-size 20px
        letter-spacing 2px
        font-weight 400
        text-transform uppercase
    h5
        font-weight 800
        color #3c3c3c
        margin 10px 0 0
        font-size 16px

.exp_grids
    border-left 1px solid #232323
    padding-left 40px