section#experience.experience
  .container
    h3.text-center Experiencia Trabajando
    .col-md-5.exp_left
      img(src='images/perfil.jpg', alt='').img-responsive.img-thumbnail 
    .col-md-7.exp_right
      h3 My Experiencia
      p
        | Experiencia que he ido adquiriendo en varios proyectos realizados
        | los cuales me han ayudado a crecer cada dia mas, y a mejorar mis 
        | habilidades a la hora de desarrollar nuevos proyectos.
      .exp_grids
        .exp_grid1
          h4 Desarrollador web 
          h5 2015-2016
          p
            | Desarrollo de proyectos orientado a la web utilizando como herramientas
            | HTML y Javascript.
          span.fa.fa-circle
        .exp_grid1
          h4 Diseñador Web
          h5 2016-2017
          p
            | Diseñador de paginas web adaptables a cualquier dispositivo y a todas las 
            | resolucuiones, utilizando herramientas como, HTML5, CSS Y JavaScript. 
          span.fa.fa-circle
        .exp_grid1
          h4 Desarrollador De Aplicaciones Web
          h5 20017-2018
          p
            | Programador de aplicaciones web usando como herramientas JavaEE y MSQL en la
            | parte del Backend. En la parte del Frontend, utilizando leguajes de programcion
            | tales como AngularJs, JavaScript, HTML5 y PHP.
          span.fa.fa-circle
    .clearfix
// //My experience
